In [13]:
import pandas as pd
import numpy as np
import datetime

In [47]:
datos = pd.read_parquet('../data/data_for_qlik.parquet')

In [48]:
def obtener_primer_dia_semana(numero_semana, anio):
    numero_semana, anio = int(numero_semana), int(anio)
    # Crear un objeto de fecha y tiempo para el primer día del año dado
    primer_dia_anio = datetime.datetime(anio, 1, 1)

    # Calcular la diferencia en días entre el primer día del año y el primer día de la semana dada
    dias_diferencia = (numero_semana - 1) * 7

    # Obtener el primer día de la semana sumando la diferencia de días al primer día del año
    primer_dia_semana = primer_dia_anio + datetime.timedelta(days=dias_diferencia)

    return primer_dia_semana

In [50]:
weeks = (datos
 [['semana', 'anio']]
 .drop_duplicates()
 .assign(
     inicio_semana=lambda df: df.apply(lambda row: obtener_primer_dia_semana(row.semana, row.anio), axis=1),
     display=lambda x: x.semana.astype(str) +'-'+ x.anio.astype(str) +' | '+ x.inicio_semana.dt.strftime('%d-%m-%Y')
 )
 .sort_values('inicio_semana', ascending=False)
 .drop(['inicio_semana'], axis=1)
)
weeks

     semana  anio               display
38       33  2023  33-2023 | 13-08-2023
46       32  2023  32-2023 | 06-08-2023
25       31  2023  31-2023 | 30-07-2023
11       30  2023  30-2023 | 23-07-2023
18       29  2023  29-2023 | 16-07-2023
409      28  2023  28-2023 | 09-07-2023
355      27  2023  27-2023 | 02-07-2023
33       26  2023  26-2023 | 25-06-2023
0        25  2023  25-2023 | 18-06-2023
209      24  2023  24-2023 | 11-06-2023
226      23  2023  23-2023 | 04-06-2023
193      22  2023  22-2023 | 28-05-2023
247      21  2023  21-2023 | 21-05-2023
202      20  2023  20-2023 | 14-05-2023
216      19  2023  19-2023 | 07-05-2023
238      18  2023  18-2023 | 30-04-2023
158      17  2023  17-2023 | 23-04-2023
165      16  2023  16-2023 | 16-04-2023
175      15  2023  15-2023 | 09-04-2023
182      14  2023  14-2023 | 02-04-2023
51       13  2023  13-2023 | 26-03-2023
61       12  2023  12-2023 | 19-03-2023
71       11  2023  11-2023 | 12-03-2023
77       10  2023  10-2023 | 05-03-2023
87        9  2023   9-2023 | 26-02-2023
93        8  2023   8-2023 | 19-02-2023
101       7  2023   7-2023 | 12-02-2023
111       6  2023   6-2023 | 05-02-2023
119       5  2023   5-2023 | 29-01-2023
126       4  2023   4-2023 | 22-01-2023
136       3  2023   3-2023 | 15-01-2023
145       2  2023   2-2023 | 08-01-2023
151       1  2023   1-2023 | 01-01-2023
664      52  2022  52-2022 | 24-12-2022